        {# templates/home/index.html.twig #}
		<!-- the alert box -->
    	<div class="container bg-white">            
            <div class="row">                
                <div class="col-md-12   ">
                	<div class="alert alert-warning">
						<i class="fas fa-exclamation"></i> Let op. U heeft u huwelijk nog niet gereserveerd, doe dat <a href="{{ path('app_reservering_index') }}" class="alert-link">hier</a> om uw locatie en ambtenaar vast te leggen       
        			</div><!-- /.alert -->
            	</div><!-- /.col -->  
            </div><!-- /.row -->            
        </div><!-- /.container -->
		<!-- end of the alert box -->
