{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
        <!-- .container -->
    	<div class="container bg-white ">            
                   
            
            <!-- .row -->
            <div class="row animation" data-animation="animation-fade-in" data-delay="3400">               	
            	<div class="post-heading-center" >
                	<h2>En dan de echte container</h2>
               	</div>
                <div class="col-md-12 text-center" >
       				Tadaaa
                </div><!-- /.col -->
            </div><!-- /.row -->     
            
            
            <!-- .row -->
            <div class="row animation save-confirmation" data-animation="animation-bounce-out" data-delay="3000">        	
            	<div class="post-heading-center animation" data-animation="animation-fade-in-down">
                	<h2>Uw wijziging is opgeslagen</h2>
               	</div>
                <div class="col-md-12 text-center">
       				<i class="fas fa-check fa-6x animation" data-animation="animation-fade-in-down" ></i>
                </div><!-- /.col -->
            </div><!-- /.row -->         
               
        </div><!-- /.container -->        
{% endblock %}
