{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
        <!-- .container -->
    	<div class="container bg-white">
                    	
                    	<div class="post-heading-center ">
                            <h2>Getuigen kiezen</h2>
                        </div>
            
            <!-- .row -->
            <div class="row">
                <div class="col-sm-10 col-md-6 col-lg-5 col-sm-offset-1 col-md-offset-0 col-lg-offset-1">
                    <p>Als u trouwt of een geregistreerd partnerschap aangaat, kiest u als bruidspaar minimaal 2 en maximaal 4 getuigen. De minimum leeftijd van een getuige is 18 jaar. Meld de getuigen uiterlijk 2 weken voor de ceremoniedatum aan.</p>
    
    				<p>U kunt ook gebruik maken van gemeenteambtenaren als getuigen. De kosten per gemeenteambtenaar zijn afhankelijk van de locatie. Tijdens het regelen van uw dag worden deze kosten getoond. </p>
             	</div><!-- /.col -->
            </div><!-- /.row -->
            
        </div>
        <!-- .container end -->
{% endblock %}
