{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
        <!-- .container -->
    	<div class="container bg-white">
                    	
                    	<div class="post-heading-center ">
                            <h2>Getuigen kiezen</h2>
                        </div>
            
            <!-- .row -->
            <div class="row">
                <div class="col-sm-10 col-md-6 col-lg-5 col-sm-offset-1 col-md-offset-0 col-lg-offset-1">
                Om te kunnen trouwen moet er tenminste 14 dagen voor de huwelijksdatum of partnerschapsdatum een melding worden gedaan bij de gemeente waar u gaat trouwen of een partnerschap aangaat. Deze melding blijft een jaar geldig. Voorheen werd dit ondertrouw of aangifte genoemd.

 

Woont u in het buitenland en heeft tenminste 1 van de partners de Nederlandse nationaliteit dan doet u de melding bij de gemeente Den Haag via www.denhaag.nl. Deze stuurt het voornemen door naar gemeente Etten-Leur.

 

De melding voorgenomen huwelijk of partnerschap kunt u online doorgeven, nadat u uw huwelijksdatum of partnerschapsdatum heeft gekozen. U zet beiden een digitale handtekening, en u moet kopieën van de legitimatiebewijzen van uw beiden uploaden.

 

Ook kunt u de melding “in persoon” doen op het stadskantoor. Maak hiervoor eerst een afspraak via het algemene toegangsnummer 14 076.

 

Let op: Uw melding is 1 jaar geldig. Zorgt u er voor dat u binnen deze termijn het huwelijk sluit. Het boeken hiervan kan eenvoudig via de stap “Regel uw dag”.

 

Let op: Het is mogelijk dat er om aanvullende stukken (documenten) wordt gevraagd, zoals een geboorteakte of een bewijs van burgerlijke staat.
            </div>
            <!-- .row end -->
            
        </div>
        <!-- .container end -->
{% endblock %}
