{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
        <!-- .container -->
    	<div class="container bg-white">
                    	
                    	<div class="post-heading-center ">
                            <h2>Naamsgebruik</h2>
                        </div>
            
            <!-- .row -->
            <div class="row">
                <div class="col-sm-10 col-md-6 col-lg-5 col-sm-offset-1 col-md-offset-0 col-lg-offset-1">
               		<p>Echtgenoten en geregistreerd partners mogen elkaars achternaam gebruiken.</p>

					<p> Naast het gebruik van uw eigen naam zijn er 3 mogelijkheden:    eerst uw eigen naam, gevolgd door de achternaam uw partner  eerst de naam van uw partner, gevolgd door uw eigen achternaam  de naam van uw partner in plaats van uw eigen achternaam      In offici&euml;le documenten zoals uw paspoort en rijbewijs wordt altijd uw eigen achternaam vermeld, met eventueel de toevoeging &lsquo;echtgenote of echtgenoot van &#8230;&rsquo; of &lsquo;geregistreerd partner van &#8230;&rsquo;.     Woont u niet in gemeente Etten-Leur dan moet u na uw huwelijk of partnerschapregistratie uw naamgebruik doorgeven aan uw woongemeente.</p>
            	</div><!-- /.col -->
            </div><!-- /.row -->
            
        </div>
        <!-- .container end -->
{% endblock %}
