{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
            <!-- .row -->
            <div class="row" data-animation="animation-fade-in" data-delay=" {% if app.session.flashbag.peekAll|length > 0 %}3400{%else%}200{% endif %}" >
                    	<div class="post-heading-center ">
                            <h2>Naamgebruik</h2>
                        </div>
                <div class="col-sm-10 col-md-6 col-lg-5 col-sm-offset-1 col-md-offset-0 col-lg-offset-1">
               		<p>Na het huwelijk kunt u ervoor kiezen om gewoon onder uw eigen achternaam aangeschreven te blijven worden door overheidsinstanties. Maar u kunt er ook voor kiezen om de achternaam van uw partner te gebruiken. Er zijn  hierbij 3 mogelijkheden:</p>
					<ul>
						<li>Eerst uw eigen achternaam, gevolgd door de achternaam uw partner</li>
						<li>Eerst de achternaam van uw partner, gevolgd door uw eigen achternaam</li>
						<li>Alleen de achternaam van uw partner</li>
					</ul>
					<p>In officiële documenten zoals uw paspoort en rijbewijs wordt altijd uw eigen achternaam vermeld, met eventueel de toevoeging ‘echtgenote of echtgenoot van …’ of ‘geregistreerd partner van …’. </p>
            	</div><!-- /.col -->
            </div><!-- /.row -->
{% endblock %}
