{# templates/home/index.html.twig #}

{% extends '/beheer/index.html.twig' %}

{% block admin %}

                    <div class="post-heading-center">
                    	<h2>Ambtenaren</h2>
                    </div>
                    
                <a href="#" class="btn btn-succes" role="button">Voeg toe</a></td>
                      
            	<table class="table table-striped table-hover">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">First</th>
                      <th scope="col">Last</th>
                      <th scope="col">Handle</th>
                    </tr>
                  </thead>
                  <tbody>
                 	 {% for ambtenaar in ambtenaren %}
                    <tr>
                      <th scope="row">{{ loop.index }}</th>
                      <td>{{ ambtenaar.voornaamen }} </td>
                      <td>{{ ambtenaar.geslachtsnaam }}</td>
                      <td><a href="{{ path('app_beheer_ambtenaar',{'id':ambtenaar.id}) }}" class="btn btn-primary" role="button">Bewerk</a></td>
                      <td><a href="#" class="btn btn-secondary" role="button">Beschikbaarheid</a></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>    
                 
{% endblock %}
