{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
        <!-- .container -->
    	<div class="container bg-white">
            <!-- .row -->
            <div class="row">
            
                <div class="post-heading-center">
                	<h2>Waar willen jullie gaan trouwen?</h2>
                	
                    <p>Van puur en simpel tot heel romantisch, voor ieder wat wils. Alle locaties van de gemeente zijn hier te vinden en te boeken. Echter als jullie besluiten op een andere (goedgekeurde) locatie te willen trouwen, maak dan zelf een afspraak daar en geef het aan ons door zodra deze geboekt is! Zo kan er niks mis gaan. </p>
                	<p class="margin-bottom30">Om te trouwen of een partnerschap te laten registreren is natuurlijk een locatie nodig! De gemeente Utrecht heeft een aantal eigen locaties en daarnaast zijn er in Utrecht ook diverse vrije locaties om te trouwen. Hieronder vindt u een overzicht van deze locaties om een goed beeld te krijgen en een keuze te kunnen maken. Vervolgens kan de locatie worden gereserveerd. </p>
                </div>
                
                <nav class="isotope-menu" >
                    <a href="#" class="active" data-filter="*">Alle locaties</a>
                    <a href="#" data-filter=".creative">Modern</a>
                    <a href="#" data-filter=".intern">Intern</a>
                    <a href="#" data-filter=".extern">Extern</a>
                    <a href="#" data-filter=".entertainment">Romantisch</a>
                    <a href="#" data-filter=".mobile">Voordelig</a>
                </nav>
                            
                <div class="isotope-row">
                    {% for locatie in locaties %}
                	<div class="item entertainment mobile intern"> <!-- 1 -->
                    	<a href="{{ path('app_locatie_view',{'id':locatie.id}) }}" data-fancybox-group="images_gallery" >
                            <figure class="img-overlay">
                            	<img ng-src="{{ locatie.afbeelding.url}}" alt="Portfolio Item 1" />
                                <div class="overlay-masked" style="display: none;">
                                	<span class="overlay-icon" style="top: 25%; opacity: 0;"></span>
                                    <p style="display: none;">{{ locatie.naam }} {{ locatie.afbeelding.url}}</p>
                                </div>
                            </figure>
                        </a>
                    </div>
                    {% endfor %}     
                </div>  
            </div>
            
        </div>
        <!-- .container end -->
{% endblock %}
