{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
        <!-- .container -->
    	<div class="container  bg-dark">            
            <!-- .row -->
            <div class="row">            
                <div class="post-heading-center">
                	<h2>Extra opties</h2>
                    <p>U kunt uiteraard ook extra opties kiezen voor uw huwelijk</p>
                </div>
                
                <div class="col-sm-4"> <!-- 1 -->
                	<div class="affa-team-profile">
                    	<figure class="team-profile-img" >
                            <img src="images/content/thumbs/trouwboek_blauwpng" alt="Avatar" />
                        </figure>
                        <div class="team-profile-name">
                        	<h4>Trouwboekje</h4>
                            <p>Blauw</p>
                        </div>
                        <p>Een leuk boekje dat iedereen tekend, aardig aandenken</p>
                    </div>
                </div>
                
                
                <div class="col-sm-4"> <!-- 1 -->
                	<div class="affa-team-profile">
                    	<figure class="team-profile-img" >
                            <img src="images/content/thumbs/trouwboek_rood_thumb.png" alt="Avatar" />
                        </figure>
                        <div class="team-profile-name">
                        	<h4>Trouwboekje</h4>
                            <p>Rood</p>
                        </div>
                        <p>Een leuk boekje dat iedereen tekend, aardig aandenken</p>
                    </div>
                </div>
                
                <div class="col-sm-4"> <!-- 1 -->
                	<div class="affa-team-profile">
                    	<figure class="team-profile-img" >
                            <img src="images/content/thumbs/uittrekksel.png" alt="Avatar" />
                        </figure>
                        <div class="team-profile-name">
                        	<h4>Akte</h4>
                            <p>Internationale huwelijksakte</p>
                        </div>
                        <p>Voor als u uw huwelijk ook in het buitenland moet doorgeven</p>
                    </div>
                </div>
                
                
                
            </div>
            <!-- .row end -->
            
		</div>
        <!-- .container end -->
{% endblock %}
