<!DOCTYPE html>
<!--[if lt IE 7]><html class="ie ie6" lang="en"><![endif]-->
<!--[if IE 7]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8]><html class="ie ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if (gte IE 10)|!(IE)]><!--><html lang="en"><!--<![endif]-->

<head>    
    <!-- Your Basic Site Informations -->
	<title>{% block title %}Utrecht | Trouwplanner {% endblock %}</title>
   
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Flatland is a premium flat landing page that built-in professional responsive design, colorful and have a slew of features.">
    <meta name="keywords" content="Landing Page, One Page Template, Responsive, Flat Design, Premium, Creative, Colorful, Portfolio, PSD, HTML5, CSS3, jQuery">
    <meta name="author" content="Affapress">
    
    <!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    
    
    
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
   	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-Bx4pytHkyTDy3aJKjGkGoHPt3tvv6zlwwjc3iqN7ktaiEMLDPqLSZYts2OjKcBx1" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/slick.css">
    <link rel="stylesheet" href="/css/slick-theme.css">
    <link rel="stylesheet" href="/css/jquery.fancybox.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/style.css">
    
    <!-- Custom Colors -->
    <!--<link rel="stylesheet" href="css/colors/green.css">-->
    <!--<link rel="stylesheet" href="css/colors/orange.css">-->
    <!--<link rel="stylesheet" href="css/colors/pink.css">-->
    <!--<link rel="stylesheet" href="css/colors/purple.css">-->
    <!--<link rel="stylesheet" href="css/colors/yellow.css">-->
    
    <!--[if lt IE 9]>
    	<script src="js/html5.js"></script>
        <script src="js/respond.min.js"></script>
	<![endif]-->
    
    <!--[if lt IE 8]>
    	<link rel="stylesheet" href="css/ie-older.css">
    <![endif]-->
    
    <link rel="stylesheet" href="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.14/angular-material.css">
    
    
    <noscript><link rel="stylesheet" href="css/no-js.css"></noscript>
    
    <!-- Favicons -->
	<link rel="shortcut icon" href="/images/favicon.ico">
	<!-- Apple Touch Icons -->

	<link rel="apple-touch-icon" href="/images/icons/apple-touch-icon.png" />
	<link rel="apple-touch-icon" sizes="57x57" href="/images/icons/apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="/images/icons/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="/images/icons/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon" sizes="144x144" href="/images/icons/apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon" sizes="57x57" href="/images/icons/apple-touch-icon-60x60.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="/images/icons/apple-touch-icon-120x120.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="/images/icons/apple-touch-icon-76x76.png" />
	<link rel="apple-touch-icon" sizes="144x144" href="/images/icons/apple-touch-icon-152x152.png" />

	<!-- Windows 8 Tile Icons -->
	<meta name="msapplication-square70x70logo" content="/images/icons/smalltile.png" />
	<meta name="msapplication-square150x150logo" content="/images/icons/mediumtile.png" />
	<meta name="msapplication-wide310x150logo" content="/images/icons/widetile.png" />
	<meta name="msapplication-square310x310logo" content="/images/icons/largetile.png" />
	
	<!-- Bootstrap Date-Picker Plugin -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
    
    <!-- basefallback url  -->
    <base href="/">  
    
    
    <!-- even wat snelle style sheet overwrites  -->
    <style type="text/css">
    .fa-times{
    	color: #F9522C !important;
    }
    .fa-check {
    	color: #addfad !important; 
    }
    .fa-circle-notch{
    	color: #50A2F6 !important; 
    }
    .btn{
	    font-family: Montserrat, Arial, sans-serif;
	    color: #FFF !important;
	    font-size: 15px;
    	border-radius: 3px;    
    	font-weight: 700;
	    text-transform: uppercase;
	    white-space: nowrap;
    	padding: 16px 30px 14px;
    	border: 0px;    
    	transition: background-color .2s ease, color .2s ease, border .2s ease;
    }
    .post-heading-right{
    	text-align: right;
    }

	media (max-width: 991px) and (min-width: 768px)
	.affa-feature-icon .fas {
	    display: inline-block;
	    position: static;
	    top: auto;
	    right: auto;
	}

	.affa-feature-icon .fas {
	    position: absolute;
	    width: 60px;
	    top: 5px;
	    right: 0px;
	    color: #CC0000;
	    font-size: 50px;
	    line-height: 60px;
	    text-align: center;
	}
	.row-custom .col-right .affa-feature-icon .fas {
	    right: auto;
	    left: 0px;
	}
	
	.gekozen-trouwambtenaar {
		border: 8px solid #449D44 !important;
	}
	 
	/* asd */ 
	.bg-blue {
	    background-color: #2A5587;
	}
	.bg-red {
	    background-color: #CC0000;
	}
	.bg-white {
	    background-color: #FFF;
	}
	.bg-yellow {
	    background-color: #ffcc00;
	}
	
	#footer {
	    background: url('/images/bg-footer.svg') top center no-repeat #C00;
    	background-size: cover;
    	height: 100px;
        top: -40px;
        position: relative;
  		z-index: -1;
  		padding-top: 20px;
	}
	
	/* header stuff */
	.header {    
    	background: #CC0000 url(/images/base-header-overlay.png) repeat top left;
        color: #fff;
        width: 100%;
        padding: 0;
        margin: 0;
        height: 200px;
	}
	.header-content {
    	position: relative;
    	left: 60px;
      	top: 50%;
      	transform: translateY(-50%);
      	-webkit-transform: translateY(-50%);
    }
    
    .header-content h1 {
    	font-size: 4em;
    	font-weight: 500;
    	font-family: 'Roboto', sans-serif;
        color: #fff;
    }
    
    .header-content h3 {
    	font-size: 4em;
    	font-weight: 100;
    	line-height: 0.6em;
    	margin-top: -5px;
    	opacity: 0.7;
    	font-family: 'Roboto', sans-serif;
        color: #fff;
    }
    
    .header-title {
    	display: table;
    }
    
    .header-icon {
    	font-size: 8em;	
    	float: left;
    	margin-right: 30px;
    	margin-top: 0px;
    }
    
    .header-menu {
    	position: relative;
    	margin: -100px auto 0;
        height: 100px;
        font-weight: 400;
    }
    
    .header-menu a:link{
    	color:#fff;
    }
    
    .header-menu a:hover{
    	color:#56c2b1;
    	text-decoration: none;
    }
    
    .header-menu a:visited{
    	color:#fff;
    }
    
    .menu-logo {
    	display: none;
    	color: #fff;
    	font-size: 0.25em;
    	position: absolute;
    	margin: -7px 0 0 -82px;
    }
    
    .mobile-header-menu .menu-logo {
    	margin: 2px 0 0 -19px;
    }
    
    .header-menu-content {
    	position: relative;
      	top: 50%;
      	transform: translateY(-50%);
      	-webkit-transform: translateY(-50%);
      	font-size: 1.2em;
      	padding-left: 65px;
    }
    
    .header-menu-content ul {
    	padding-left: 0;
    }
    
    .header-menu-content li {
    	display: inline;
    	list-style: none;
    	padding-right: 20px;
    }

	/* flow stuff*/
	#flow {
		padding-bottom: 20px;
	}
	
	.flow ul {
        display: flex;
        align-items: stretch; /* Default */
        justify-content: space-between;
        width: 100%;
        margin: 0;
        padding: 0;
    }
   .flow  li {
        display: block;
        flex: 0 1 auto; /* Default */
        list-style-type: none;
        color: #FFF;
        text-align: center;
  		text-transform: uppercase;
  		font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, sans-serif;
    }
   .flow .fas {
	    background-color: #FFF;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        text-align: center;
        line-height: 100px;
        vertical-align: middle;
		margin-bottom: 10px;
		margin-top: 5px;
		margin-left: 5px;
		margin-right: 5px;
    }
	.flow li a{
	    color: #2A5587;
	}
	.flow li a:hover .fas {
	    color: #CC0000;
        width: 100px;
        height: 100px;
		margin-bottom: 5px;
		margin-top: 0px;
		margin-left: 0px;
		margin-right: 0px;
	}
    
  

	.affa-form-contact select, textarea {
    	width: 100%;
    	margin-bottom: 15px;
	   	height:52px; 
	   	padding: 13px 16px;
	}
	.dateholder {
	    height: 52px;
	    font-family: 'Noto Sans', Arial, sans-serif;
	    color: #909090;
	    font-size: 15px;
	    font-weight: 400;
	    background-color: #f4f5f9;
	    padding: 0px 20px;
	    border: 2px solid #f4f5f9;
	    outline: none !important;
	    border-radius: 3px;
    	width: 100%;
    	margin-bottom: 15px;
	   	height:52px; 
	   	padding: 5px 1px;
    	text-align: left;
	}
	body {
	    background-color:#F2F2F2;	
	}
	.row {
	    padding-top: 15px;
    	padding-bottom: 15px;
  		z-index: 10;
	}
	
	/* overschrijven van de stijl op knoppwn*/
	.btn {
		border-radius: 0px;
	}
	.btn-primary {
    	padding: .5em 1em;
        border: 2px solid #2A5587;
        background: #2A5587;
        color: #FFF !important;
        text-transform: uppercase;
        letter-spacing: .04em;
        font-weight: 700;
	}
	.btn-secondary {
    	padding: .5em 1em;
        border: 2px solid #2A5587;
        background: #FFF;
        color: #2A5587 !important;
        text-transform: uppercase;
        letter-spacing: .04em;
        font-weight: 700;
	}
	.btn-login {
    	padding: .5em 1em;
        border: 2px solid #FFF;
        background: #2A5587;
        color: #FFF !important;
        text-transform: uppercase;
        letter-spacing: .04em;
        font-weight: 700;
	}
	.btn-secondary:hover { 
        background: #FFF;
        color: #2A5587 !important;
	}
	.content {
        top: -20px;
        position: relative;
	}	
	.post-heading-left h2:after, .post-heading-center h2:after {
    background-color: #FFCC00;
	}
	.tbl-pricing .tbl-prc-col .tbl-prc-price {
	    background-color: #ffcc00;
	}
    </style>
</head>

<body ng-app="dashboard" ng-controller="huwelijkController">
	<!-- #header -->
    <header id="header">		
	    {{ include('header.html.twig') }}	
        {# include('menu.html.twig') #}	
    </header>
    <!-- #header end -->
    
    {{ include('home/flow.html.twig') }}
    <div class="content">
    {% block body %}{% endblock %}
    </div>
    
    {{ include('footer.html.twig') }}	     
     <!-- JavaScript -->
	<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.easing.min.js"></script>
    <script type="text/javascript" src="js/response.min.js"></script>
	<script type="text/javascript" src="js/jquery.placeholder.min.js"></script>
    <script type="text/javascript" src="js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="js/jquery.imgpreload.min.js"></script>
    <script type="text/javascript" src="js/waypoints.min.js"></script>
	<script type="text/javascript" src="js/slick.min.js"></script>
    <script type="text/javascript" src="js/jquery.mousewheel-3.0.6.pack.js"></script>
    <script type="text/javascript" src="js/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="js/parallax.min.js"></script>
	<script type="text/javascript" src="js/jquery.counterup.min.js"></script>
    <script type="text/javascript" src="js/isotope.pkgd.min.js"></script>
    
    <!-- Bootstrap Date-Picker Plugin -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>

	<script type="text/javascript" src="js/script.js"></script> 
	
	
		<!-- Summernote text editor -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script> 

        <!-- Lodash-->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script> <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js"></script>
        
        <script src="/js/angular/angular.min.js"></script>  

        <!--Angular Moduless -->
        <script src="/js/angular/angular-ui-router.js"></script>
        <script src="/js/angular/angular-translate.min.js"></script>
        <script src="/js/angular/angular-translate-loader-static-files.min.js"></script>
        <script src="/js/angular/angular-resource.js"></script>
        <script src="/js/angular/angular-animate.js"></script>
        <script src="/js/angular/angular-touch.js"></script>
        <script src="/js/angular/angular-sanitize.js"></script>   
        <script src="/js/angular/angular-summernote.js"></script>

        <!--Angular UI bootstrap -->
        <script src="/js/angular/ui-bootstrap.js"></script>

        <!--With special thanxs to https://github.com/mgonto/restangular  -->
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/restangular/1.5.1/restangular.min.js"></script>
        
        <!--With special thanxs to https://github.com/gsklee/ngStorage  -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js"></script>

        <!-- let introduce angular material -->
       	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-route.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.js"></script>
        <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js"></script>
       	<script src="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.14/angular-material.js"></script>

        <!--AngularJS [ REQUIRED ]-->

        <script src="/js/configuration.js"></script>
        <script src="/js/conduction.js"></script>
        <script src="/js/dashboard.js"></script>
             
    {% block javascripts %}{% endblock %}
</body>
</html>
