 	 <!-- Header section. Update the background by changing the .header class background image. -->
      <div class="header">
        <div class="container fluid-container header-content content-area">
          <i class="header-icon far fa-rings-wedding"></i>
          <div class="header-title">
            {% if huwelijk is defined and huwelijk.type is defined  %}
            <h1>{{ huwelijk.type|capitalize }}</h1>     
            {% else %} 
            <h1>Trouwen of Partnerschap</h1>            
            {% endif %}            
            <h3>In Utrecht</h3>
          </div>
          {% if huwelijk is defined and huwelijk%}
          <div class="header-loginbar">
          	<i class="fas fa-lock-alt"></i>Beste {{ huwelijk.partners[0].persoon.voornamen }} {{ huwelijk.partners[0].persoon.geslachtsnaam}} bent ingelogd over een beveiligde verbinding, klik <a href="{{ path('app_home_logout') }}"> hier om uit te loggen</a>
          </div>          
          {% endif %}            
        </div>        
      </div>